@inject GameStore.Core.Services.IGameGroupService GameGroupService
@model Tuple<GameStore.Core.ViewModels.ProductGroups.GameGroupCreateOrEditVm, IPagedList<GameStore.Core.ViewModels.Games.GameDetailVm>>
@{
    ViewData["Title"] = "Index";
}


<!-- products categories start -->
<partial name="_GameCategories" />
<!-- products categories end -->


<div class="container">
    <div class="row">
        <!-- Prducts start -->
        <div class="col-md-9 mt-5">
            <br />
            <h1 class="h1 mb-5">Games</h1>
            <div class="row">
                @foreach (var item in Model.Item2)
                {
                    <div class="col-md-4">
                        <div class="card mb-3 shadow">
                            <a asp-area="" asp-controller="Home" asp-action="GameDetails" asp-route-id="@item.Id">
                                <img class="card-img-top" src="@item.ImageFullName" alt="Flight Simulator" width="200" height="170" />
                            </a>
                            <h2 class="card-header h4">@item.Name</h2>
                            <div class="p-2">
                                <div>
                                    @if (item.Discount != 0)
                                    {
                                        <p>
                                            Price: 
                                            <s>@item.Price$</s>
                                            <span>@item.FinalPrice$</span>
                                        </p>


                                    }
                                    else
                                    {
                                        <p>Price: @item.FinalPrice$</p>
                                    }
                                </div>
                                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-outline-success" asp-area="" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                }








            </div>
        </div>
        <!-- Prducts end -->
        @*<div class="">
                <ul>
                    @if (Model.Item2.HasPreviousPage)
                    {
                        <li>
                            <a href="?page=@(Model.Item2.PageNumber - 1)">prev</a>
                        </li>

                        for (int i = 1; i <= Model.Item2.PageCount; i++)
                        {
                            var isCurrent = Model.Item2.PageNumber == i;
                            <li class="@(isCurrent?"current":"")">
                                @if (isCurrent)
                                {
                                    <span class="bg-black text-white">@i</span>
                                }
                                else
                                {
                                    <a href="?page=@(i)">@i</a>
                                }
                            </li>
                        }

                        @if (Model.Item2.HasNextPage)
                        {
                            <li><a class="btn btn-outline-primary" href="?page=@(Model.Item2.PageNumber + 1)">next</a></li>
                        }
                    }
                </ul>

            </div>*@


    </div>
</div>

