@model GameStore.Core.ViewModels.Orders.OrderVm
@{
    ViewData["Title"] = "Cart";
}


@if (Model != null && Model.OrderDetails?.Count > 0)
{
    <!-- cart title start -->
    <div class="container mt-5">
        <div class="row">
            <div class="offset-md-2 col-md-8 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">@Model.OrderDetails?.Count</span>
                </h4>
            </div>
        </div>
    </div>
    <!-- cart title start -->
    @foreach (var item in Model.OrderDetails)
    {
        <!-- cart item start -->
        <div class="container">
            <div class="card shadow offset-md-2 col-md-8 mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <a asp-route-id="@item.Id"><img class="img-fluid rounded-start" src="" alt="" width="400" height="300" /></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between align-items-center">
                                <span>@item.Product.Name</span>
                                <span class="badge bg-primary rounded-circle">@item.Count</span>
                            </h5>

                            <p class="card-text"><small class="text-muted">@item.Price</small></p>
                            <button type="button" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                    <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z" />
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- cart item end -->
    }


    <div class="card shadow offset-md-2 col-md-8 mb-3">
        <div class="row p-2">
            <div class="col-md-4">
                <p class="h3 fw-bold">Total</p>
            </div>
            <div class="offset-md-6 col-md-2">
                <p class="h4 text-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                    </svg>
                    @Model.FinalPrice
                </p>
            </div>
        </div>
    </div>


    <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
}


